{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="text-center">
    <h2>Register</h2>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            <small >Username must be at least 5 characters long.</small>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
            <small >Password must include at least 5 numbers and 1 special character</small>
        </div>
        <h4>Tell us about yourself (optional)</h4>
        <div class ="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="first_name" name="first_name" placeholder="First Name" type="text">
        </div>
        <div class ="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="last_name" name="last_name" placeholder="Last Name" type="text">
        </div>
        <div class ="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="fav_color" name="fav_color" placeholder="Favorite Color" type="text">
        </div>
        <div class ="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="fav_food" name="fav_food" placeholder="Favorite Food" type="text">
        </div>
        <div class="mb-3">
            <textarea cols="30" rows="3" id="bio" name="bio" placeholder="A couple of word to describe you"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}